/*
  style.css 
  Feel free to change this CSS for your own purposes
*/

/* Using font-size: larger to make things pop. Feel free to change. */
body {
    margin: 30px;
    font-size: x-large;
}

button {
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
}