/*
  style.css 
  Feel free to change this CSS for your own purposes
*/

/* Using font-size: larger to make things pop. Feel free to change. */
body {
    margin: 30px;
}

hr {
  border:none;
  height:3px;
  background-color:darkred;
}

*{
  font-size:x-large;
}

.right {
  text-align: end;
}

a {
  font-size: small;
}